*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding-top: 3.5rem;
  background-color: #fff; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 3.5rem;
  background-color: #fff; }

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 6.5rem auto fit-content(9rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100%; } }

main {
  grid-area: main; }

.header {
  height: 6.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff; }
  .header__content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between; }
    .header__content-mobile {
      width: 100%;
      display: flex;
      align-items: center; }
  .header__mobile-icon img {
    width: 5rem;
    padding-right: 1rem; }
  .header__items {
    display: none;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; }
  .header__image img {
    width: 5rem; }
  .header__item {
    height: 100%;
    width: 6rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent; }
    .header__item-link {
      text-decoration: none;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500; }
    .header__item:not(:first-child) {
      margin-left: 2rem; }
    .header__item:not(:first-child):hover {
      border-bottom: 3px solid rgba(0, 0, 0, 0.8); }

.nav {
  display: none; }
  .nav__items {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    align-items: center; }
  .nav__item {
    height: 100%;
    width: 6rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent; }
    .nav__item:not(:last-child) {
      margin-right: 1rem; }
    .nav__item-link {
      text-decoration: none;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500; }
    .nav__item:hover {
      border-bottom: 3px solid rgba(0, 0, 0, 0.8); }

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  margin: 0 2rem;
  vertical-align: middle; }
  .toggle-button:focus {
    outline: none; }
  .toggle-button__bar {
    width: 100%;
    height: 0.4rem;
    background: black;
    display: block;
    margin: 0.5rem 0; }

.mobile-nav {
  display: none; }

@media (min-width: 40rem) {
  .header__mobile-icon {
    display: none; }
  .header__items {
    display: flex; }
  .nav {
    display: flex; }
  .toggle-button {
    display: none; }
    .toggle-button__bar {
      display: none; } }

.backdrop {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear; }

.section-posts {
  height: auto;
  max-width: 1100px;
  padding: 2rem 0;
  margin: 0 auto; }

.posts {
  max-width: 80rem;
  margin: 3rem auto;
  list-style: none; }
  .posts__item {
    margin: 3rem 0;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all .5s; }
    .posts__item:hover {
      transform: translateY(-1rem) scale(1.05);
      box-shadow: 0 1.5rem 3rem -2.2rem rgba(0, 0, 0, 0.9); }

.item__title {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.7); }
  .item__title-text {
    font-size: 2rem; }
    .item__title-text:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5); }
    .item__title-text > a {
      color: inherit;
      text-decoration: none; }
  .item__title-icons:hover {
    cursor: pointer; }
  .item__title-icons--favorite:hover {
    color: red; }

.item__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.5rem; }
  .item__content-image {
    height: 15rem;
    width: 31%;
    margin: 0;
    background-image: url("../../img/nat-1.jpg");
    background-size: cover;
    border-radius: 3px; }
  .item__content-text {
    width: 68%;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: .2rem;
    text-align: left; }

.section-login {
  height: auto;
  max-width: 1100px;
  padding: 5rem 0;
  margin: 0 auto; }
  .section-login--title {
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7); }

.space {
  margin-bottom: 1.5rem; }

.login {
  width: 40rem;
  margin: 0 auto;
  padding: 1.5rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .login__form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .login__form-control > label {
      font-size: 1.6rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.7);
      margin: 0.5rem 0; }
    .login__form-control > input {
      height: 3.5rem;
      width: 100%;
      padding: 0 1rem;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #e7e7e7;
      outline: none; }
  .login__button {
    height: 3rem;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    background-color: #e7e7e7;
    color: rgba(0, 0, 0, 0.7);
    outline: none; }
  .login__new {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem; }
    .login__new-text {
      margin: 0 0.5rem; }
    .login__new-link {
      text-decoration: none;
      color: rgba(255, 0, 0, 0.7); }

.login__button.active {
  color: white;
  background-color: rgba(59, 141, 130, 0.7); }
  .login__button.active:hover {
    cursor: pointer; }

.section-post {
  height: auto;
  max-width: 1100px;
  padding: 5rem 0;
  margin: 0 auto; }

.content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5rem;
  margin-bottom: .5rem; }
  .content__title {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem; }
  .content__image {
    height: 50rem;
    width: 80%;
    margin: 2rem auto;
    border-radius: 4px;
    background-image: url("../../img/nat-3.jpg");
    background-size: cover;
    box-shadow: 0 4rem 2rem -3rem rgba(0, 0, 0, 0.5); }
  .content__text {
    margin-top: 6rem;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: left;
    letter-spacing: .3rem; }

.comments {
  height: auto;
  width: 100%; }
  .comments__add {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0; }
    .comments__add--avatar {
      height: 90%;
      border-radius: 50%;
      margin-right: 2rem; }
    .comments__add--input {
      height: 70%;
      width: 70%;
      padding-left: 1rem;
      outline: none; }
    .comments__add--text {
      font-size: 1.6rem; }
  .comments__list {
    list-style: none;
    padding: 0; }
  .comments__like {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem; }
    .comments__like--icon {
      font-size: 2.8rem; }
      .comments__like--icon:hover {
        cursor: pointer;
        color: red; }

.section-newpost {
  height: auto;
  max-width: 1100px;
  padding: 5rem 0;
  margin: 0 auto; }
  .section-newpost--title {
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7); }

.image__preview {
  height: 175px;
  width: 140px;
  position: relative; }
  .image__preview--input {
    height: 175px;
    width: 140px;
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0;
    z-index: 10;
    cursor: pointer; }
  .image__preview--img {
    position: absolute;
    height: 175px;
    width: 140px;
    opacity: 1;
    z-index: 5;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .image__preview--change {
    height: 175px;
    width: 140px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #ccc; }
    .image__preview--change > span {
      color: white;
      font-size: 1.2rem;
      font-weight: 600; }
  .image__preview--hover {
    height: 175px;
    width: 140px;
    position: absolute;
    background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent);
    opacity: 0; }
