.section-post {
    height: auto;
    max-width: 1100px;
    padding: 5rem 0;
    margin: 0 auto;
}

.content {
    border-bottom: 1px solid rgba($color-black, .2);
    padding-bottom: 5rem;
    margin-bottom: .5rem;
    &__title {
        text-align: center;
        font-size: $font-h1;
        color: $font-title-color;
        margin-bottom: $space-title-h1;
    }

    &__image {
        height: 50rem;
        width: 80%;
        margin: 2rem auto;
        border-radius: 4px;
        background-image: url('../../img/nat-3.jpg');
        background-size: cover;
        box-shadow: 0 4rem 2rem -3rem rgba($color-black, .5);
    }

    &__text {
        margin-top: 6rem;
        font-size: $font-default;
        line-height: 1.8;
        text-align: left;
        letter-spacing: .3rem;
    }
}

.comments {
    height: auto;
    width: 100%;

    &__add {
        height: 6rem;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 3rem 0;

        &--avatar {
            height: 90%;
            border-radius: 50%;
            margin-right: 2rem;
        }

        &--input {
            height: 70%;
            width: 70%;
            padding-left: 1rem;
            outline: none;
        }

        &--text {
            font-size: $font-default;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__like {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $font-title-color;
        font-size: $font-default;

        &--icon {
            font-size: 2.8rem;

            &:hover {
                cursor: pointer;
                color: red;
            }
        }
    }
}
